html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: arial;
}
#blocker {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
#settingsPage {
  width: 100%;
  height: 100%;
  display: inline-block;
}


/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

header {
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}
header * {
display: inline-flex;
}
header li {
margin: 20px;
}
header a:link {
color: white;
}
/* A link that has been visited */
header a:visited {
color: white;
}
/* A link that is hovered on */
header a:hover {
color: grey;
}
/* A link that is selected */
header a:active {
color: white;
}
#playButton {
background-color:#cf2525;
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:28px;
border:1px solid #000300;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:22px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
}
#playButton:hover {
background-color:#ff0000;
}
#playButton:active {
position:relative;
top:1px;
}
